@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Oswald');



*{
  
  background:rgb(215, 215, 215);
}

#headline h1, p, section{
background-color: #FFFFFF

}

#headline h1 {
  font-family: 'Allura';
  font-size: 60px;
  color: black !important;
  margin-top: 100px;
  text-align: center;
  font-weight: 700;
}

#headline p{
  text-align: center;
  font-family: "Oswald";
  font-size: 20pt;
}

#nav {
  background-color: rgb(142, 232, 196) !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.navbar-brand{
  font-family: 'Allura';
  font-size: 40pt;
  font-weight: 600;
}
.nav-brand {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

#gallery .col {
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
  margin: 20px auto;
  width: 1200px;
}
#gallery .col .box{
  width:100%;
  margin: 0 0 30px;
  padding: 20px;
  background: #fff;
  overflow: hidden;
}

#gallery .col img {
  margin-top: 7px;
  vertical-align: middle;
  margin-bottom: 7px;
}

#gallery .box h2, #gallery .box p{
  background-color: #FFFFFF;
  font-family: "Abel";
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.footer {
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(142, 232, 196);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  position: relative;
}