#headline h1, #headline p {
  background-color: #FFFFFF;
}

#headline h1 {
  font-family: 'Allura';
  font-size: 80px;
  color: black !important;
  margin-top: 100px;
  text-align: center;
  font-weight: 700;
}

#headline p {
  text-align: center;
  font-family: "Oswald";
  font-size: 20pt;
}

#nav {
  background-color: rgb(142, 232, 196) !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.navbar-brand {
  font-family: 'Allura';
  font-size: 40pt;
  font-weight: 600;
}

.nav-brand {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.navbar-nav ul {
  background-color: rgb(142, 232, 196) !important; 
}

#gallery {
  background:rgb(215, 215, 215);
}

#gallery .box{
  padding: 20px;
  background: #fff;
}

#gallery .box img {
  margin-bottom: 7px;
}

#gallery .box h2, #gallery .box p {
  background-color: #FFFFFF;
  font-family: "Abel";
}

footer {
  width: 100%;
  background-color: rgb(142, 232, 196);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding: 20px;
}

footer p {
  background-color: rgb(142, 232, 196);  
  font-family: 'Oswald';
  margin: 0;
}
